body {
  font-family: "Rubik Bubbles";
  /* color: darkslategray; */
  color: rgba(49, 53, 59, 0.68);
}

.title-youtube {
  font-size: 25px;
  color: darkslategray;
  margin: 10px 0;
}

.btn {
  margin: 0px 10px;
  cursor: pointer;
}

.container-list-product {
  display: flex;
  justify-content: space-around;
}

.container-product {
  text-align: center;
  padding: 20px 10px;
}

.text-product-name {
  font-size: 20px;
  text-decoration: underline;
}

.text-product {
  font-size: 40px;
  margin-top: 20px;
}

.input {
  padding: 10px;
  width: 250px;
}

.count {
  font-size: 50px;
  margin: 20px 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
